<div class ="center-container">
  <div class ="subscription-box">
    <h1>Techzines</h1>
    <div>
      <span class="subscription-title">SUBSCRIPTION</span>
    </div>
    <form (ngSubmit)="subscribe()">
      <label for = "email">Email</label>
      <input
      [(ngModel)]="email"
      name="email"
      id="email"
      type="email"
      required
      [disabled]="confirmation.length >0"/>
      <br />
      <button type ="submit" [disabled]="confirmation.length >0" style ="margin-top: 12px;">Subscribe</button>
    </form>
    <div class ="confirmation-message">
      @for(msg of confirmation; track $index ) {
        <p> {{msg}}</p>
      }
    </div>
  </div>
</div>
